<div class="campaign-banner campaign-banner-closed" data-campaign-id="<%= @id %>">
  <div class="campaign-banner-content">
    <%= raw(@content) # TODO not ideal, maybe let's introduce a CTA field that would contain a URL, then we can safely escape everything %>
  </div>
  <button type="button" class="campaign-banner-close" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
  <script defer data-cfasync="false" src="<%= static_path(BlockScoutWeb.Endpoint, "/js/campaign-banner.js") %>"></script>
</div>
